* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(41, 167, 16);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

#playPauseBtn {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  outline: none;
  color: #ee1c25;
}

#playPauseBtn:hover {

  transform: scale(1.1);
}

#playPauseIcon {
  display: inline-block;
}

#score {
    position: absolute;
    top: 10px;
    left: 80%;
    font-size: 24px;
    color: #333;
    font-family: Arial, sans-serif;
    /* background-color: #87ceeb; */
    padding: 5px 10px;
    border-radius: 8px;
    z-index: 1000;
}

#game-over-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 1000;
    width: 300px;
}

#game-over-screen h1 {
    margin-bottom: 15px;
    font-size: 36px;
}

#game-over-screen p {
    margin: 10px 0;
    font-size: 18px;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 70px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
    
}

.jump {
    animation: jump 500ms  ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear
}

@keyframes pipe-animation {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}